@model NDS.Models.ViewModels.PublishPlanViewModel

@using NDS.Utility


@if (ViewBag.message != null)
{
    <div class="alert alert-@ViewBag.type">
        <span class="close" data-dismiss="alert">&times;</span>
        @ViewBag.message
    </div>


}



<div class="row center-block box box-primary" style="box-shadow:2px 2px 7px 3px gray;">


    <div class="col-md-10 col-md-offset-2" style="margin-bottom:15px; margin-top:15px;">

        <form asp-controller="PublishPlan" asp-action="Create" method="post">


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="publishPlan.Description" class="control-label"></label>
                <input asp-for="publishPlan.Description" class="form-control" placeholder="Enter Description " />
                <span asp-validation-for="publishPlan.Description" class="text-danger"></span>
            </div>





            <div class="form-group">
                <label asp-for="publishPlan.FkCustomerId" class="control-label"></label>
                <select asp-for="publishPlan.FkCustomerId" asp-items="@(new SelectList(Model.customers,"Id","FullName"))" class="form-control circleInput">

                    <optgroup label="Select Customer"></optgroup>

                </select>

                <span asp-validation-for="publishPlan.FkCustomerId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="publishPlan.FkStaffId" class="control-label"></label>
                <select asp-for="publishPlan.FkStaffId" asp-items="@(new SelectList(Model.staffs,"Id","FullName"))" class="form-control circleInput">

                    <optgroup label="Select Staff"></optgroup>

                </select>

                <span asp-validation-for="publishPlan.FkStaffId" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="publishPlan.FkProductId" class="control-label"></label>
                <select asp-for="publishPlan.FkProductId" asp-items="@(new SelectList(Model.products,"Id","Title"))" class="form-control circleInput">

                    <optgroup label="Select Product"></optgroup>

                </select>

                <span asp-validation-for="publishPlan.FkProductId" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="publishPlan.Quantity" class="control-label"></label>
                <input min="1" asp-for="publishPlan.Quantity" class="form-control" placeholder="Enter Quantity " />
                <span asp-validation-for="publishPlan.Quantity" class="text-danger"></span>
            </div>





            <div class="form-group">
                <label asp-for="publishPlan.DeliveryDateTime" class="control-label"></label>
                <input asp-for="publishPlan.DeliveryDateTime" onchange="ChangeDate(this)" class="form-control" />
                <span asp-validation-for="publishPlan.DeliveryDateTime" class="text-danger"></span>


                <span id="holiday-date" class="text-danger"></span>
            </div>




            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-danger">Back</a>
            </div>


        </form>


    </div>

</div>





@section PanelScripts{

    <script>
        function ChangeDate(el) {

            var year = new Date().getFullYear();

            var url = 'https://date.nager.at/api/v3/publicholidays/' + year + '/CA';


            $.get(url, '', function (e) {

                for (var i = 0; i < e.length; i++) {

                    var item = e[i];

                    if (item.date == el.value) {

                        $('#holiday-date').html('Your Selected Date is ' + (el.value) + ' And It is Holiday ' + '<b>' + item.localName + '</b>');

                        $(el).val(null);

                        return;
                    }



                }

            });


            $('#holiday-date').html('');


        }
    </script>

}